@tailwind base;
@tailwind components;
@tailwind utilities;

.li_result {
	margin-left: 1.4em;
	text-indent: -1.4em;
}

.body{
    background: linear-gradient(125deg, #111827 0%, #111827 50%, #242424 50%, #242424 100%);
    @apply
    text-gray-900
}

.video {
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */
    @apply
    object-cover
    relative
    h-screen
    w-screen
  }

.mv_txt {
    @apply
    bg-white 
    bg-opacity-50 
    rounded-lg
    absolute
    top-1/2 
    left-1/2 
    transform -translate-x-1/2 -translate-y-1/2
    flex-col
    items-center
    justify-center
    text-7xl
    font-extrabold
    text-blue-900
    text-left
  }

.title{
    @apply
    p-5
    text-5xl
    mx-auto
    max-w-3xl
    text-gray-900
    font-extrabold
}


.containar1{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image:
        linear-gradient(8deg, rgba(255, 255, 255, 0.9) 60%, rgba(129, 129, 129, 0.2) 90%),
        url(/section3.jpg);
    background-position: center;

    @apply
    w-full
    h-auto
    mx-auto
    flex-col
    text-center
    justify-center
    bg-white
    py-16
}

.containar1_list{
    @apply
    text-gray-900 
    text-2xl 
    text-start 
    font-bold 
    mt-10 
    ml-36 
    mb-20
}

.list_sub_text{
    @apply
    text-sm
    ml-7 
    text-gray-600
}


.containar2-2{
    @apply
    pt-10
    w-full
    h-max
    mx-auto
    flex
    flex-col
    max-w-7xl
    xl:w-full
    text-gray-900
}

.cont2_title{
    @apply
    text-white 
    flex
    justify-start
    text-5xl
    font-semibold
    max-w-7xl
    p-3
    mt-10
    max-xl:text-2xl 
}

.containar3{
    clip-path: polygon(100% 100%,100% 20%,0% 0%,0% 100%);
    background-image:
        linear-gradient(125deg, rgba(255, 255, 255, 0.9) 50%, rgba(129, 129, 129, 0.1) 70%),
        url(/section1.jpg);
    background-position: left;

    @apply
    w-full
    h-max
    /* コンテナ中央 */
    mx-auto
    flex
    flex-col
    mt-10
    justify-center
    bg-white
    xl:pb-24
    xl:pt-24
    xl:px-5
    max-xl:pt-32
    max-xl:p-2
}

.cont3_title{
    @apply
    mt-10
    text-gray-900
    font-bold
    justify-start
    bg-gradient-to-r from-red-500 via-red-400 to-white bg-[length:100%_3px] bg-no-repeat bg-bottom
    text-3xl
    p-2
    max-xl:text-2xl 
}


/* _____Flow____ */


.flow_l{
    @apply
    flex 
    flex-wrap
    items-center 
    justify-center
    w-full 
    px-2
    mt-10
}

.flow_r{
    @apply
    mt-10
    flex 
    flex-wrap-reverse
    items-center 
    justify-center 
    w-full 
    px-2

}

.flow_step{
    @apply
    bg-white 
    shadow-lg 
    p-2 
    rounded-md
}

.flow_area {
    @apply
    w-1/2
    p-3
}

.flow_title{
    @apply
    flex 
    items-center
    h-auto
    text-2xl
    pt-2
    font-bold
}

/* _____Footer____ */

.footer{
    @apply
    flex 
    h-32
    w-full 
    items-center 
    justify-center 
    mt-5
    bg-black
}


/* _____Button____ */

.btn1{
    @apply
    mx-auto
    rounded-lg
    mt-20
    px-10 
    py-1 
    text-lg
    text-center 
    font-semibold
    outline 
    text-white
    bg-gray-900
    hover:bg-red-500
}


.btn2{
    @apply
    rounded-lg
    px-20 
    py-1 
    mt-10
    text-lg
    text-center 
    font-semibold 
    text-white
    bg-red-500
    hover:bg-red-900
}

.btn3{
    @apply
    rounded-lg
    py-1
    px-3 
    text-xl
    text-center
    font-semibold 
    text-gray-900
    bg-gray-100
    hover:bg-red-500
}

.btn4{
    @apply
    rounded-lg
    py-1
    px-3 
    text-xl
    text-center
    font-semibold 
    text-white
    bg-blue-900
    hover:bg-blue-700
}

/* _____Modal____ */

.showModal{
    @apply
    justify-center 
    items-center 
    flex 
    overflow-x-hidden
    overflow-y-hidden 
    fixed 
    inset-10 
    z-50 
}

.showModal_header{
    @apply
    p-3
    rounded-t 
    bg-blue-900
}

.showModal_content{
    @apply
    relative 
    mx-auto
    my-auto  
    max-w-3xl 
    h-full
}

.showModal_detail{
    @apply
    rounded-lg 
    relative 
    flex 
    flex-col 
    w-full 
    bg-gray-100 
}

