@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
    background: linear-gradient(125deg, #111827 0%, #111827 50%, #242424 50%, #242424 100%);
    @apply
    text-gray-900
}

.video {
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */
    @apply
    object-cover
    relative
    h-screen
    w-screen
  }

.mv_txt {
    @apply
    bg-white 
    bg-opacity-50 
    rounded-lg
    absolute
    top-1/2 
    left-1/2 
    transform -translate-x-1/2 -translate-y-1/2
    flex-col
    items-center
    justify-center
    font-extrabold
    text-blue-900
    text-7xl
    max-md:text-5xl
  }

.title{
    @apply
    p-5
    max-lg:text-4xl
    text-5xl
    mx-auto
    max-w-3xl
    text-gray-900
    font-extrabold
}


.containar1{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image:
        linear-gradient(8deg, rgba(255, 255, 255, 0.9) 60%, rgba(129, 129, 129, 0.2) 90%),
        url(/section1.jpg);
    background-position: center;

    @apply
    w-full
    h-auto
    mx-auto
    flex-col
    text-center
    justify-center
    bg-white
    py-16
}

.containar2-2{
    @apply
    mx-auto
    pt-10
    w-full
    h-max
    flex
    flex-col
    xl:w-full
    text-gray-900
}

.cont2_title{
    @apply
    text-white 
    flex
    justify-center
    text-5xl
    font-semibold
    p-10
    mt-10
    max-lg:text-4xl 
}

.containar3{
    clip-path: polygon(100% 100%,100% 20%,0% 0%,0% 100%);
    background-image:
        linear-gradient(125deg, rgba(255, 255, 255, 0.9) 50%, rgba(129, 129, 129, 0.1) 85%),
        url(/section3.jpg);
    background-position: left;

    @apply
    w-full
    mx-auto
    flex
    flex-col
    mt-10
    justify-center
    bg-white
    xl:pb-24
    xl:pt-24
    xl:px-5
    max-xl:pt-32
    max-xl:p-2
}

@media screen and (max-width: 959px) {
    .containar3{
        clip-path: polygon(100% 100%,100% 20%,0% 0%,0% 100%);
        background-image:
            linear-gradient(125deg, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0.6) 85%),
            url(/section3.jpg);
        background-position: left;
    
        @apply
        w-full
        mx-auto
        flex
        flex-col
        mt-10
        justify-center
        bg-white
        xl:pb-24
        xl:pt-24
        xl:px-5
        max-xl:pt-32
        max-xl:p-2
    }
}


.cont3_title{
    @apply
    mt-10
    text-gray-900
    font-bold
    justify-start
    bg-gradient-to-r from-blue-700 via-blue-500 to-slate-50 bg-[length:100%_2px] bg-no-repeat bg-bottom
    text-3xl
    p-2
    max-md:text-2xl
}

.cont3_text{
    @apply
    flex  
    px-3
    font-bold
    text-xl 
    max-md:text-lg
}

/* _____Flow____ */

.flow{
    @apply
    flex
    flex-col
    items-center 
    justify-center
    w-full
    mb-10
    mt-10
}

.flow_step{
    @apply
    bg-white 
    shadow-lg
    p-2
    border-l-8 
    border-blue-900 
}

.flow_area {
    @apply
    w-4/5
}

.flow_title{
    @apply
    text-2xl
    font-bold
}

.flow_sub_title{
    @apply
    font-extrabold
    text-base
}

.flow_sub_title_color{
    @apply
    text-blue-900
}

.flow_sub_text{
    @apply
    text-sm
    mx-1
    text-gray-700
}

.flow_4_text{
    @apply
    font-extrabold
    text-base
    mt-2 
    bg-white 
    border-l-8 
    border-red-500 
    p-2 
    shadow-lg
}


/* _____Footer____ */

.footer{
    @apply
    flex 
    h-32
    w-full 
    items-center 
    justify-center 
    mt-5
    bg-black
}


/* _____Button____ */

.btn1{
    @apply
    mx-auto
    rounded-lg
    mt-20
    px-10 
    shadow-lg
    py-1
    text-lg
    text-center 
    text-white
    bg-blue-900
    hover:bg-blue-700
}


.btn2{
    @apply
    rounded-lg
    px-20 
    py-1 
    mt-10
    text-lg
    text-center 
    font-semibold 
    text-white
    bg-red-500
    hover:bg-red-900
}

.btn3{
    @apply
    rounded-lg
    shadow-lg
    py-1
    px-3 
    text-lg
    text-center
    text-white
    bg-blue-900
    hover:bg-blue-700
}

.btn4{
    @apply
    rounded-lg
    shadow-lg
    py-1
    px-3 
    text-lg
    text-center
    text-white
    bg-blue-900
    hover:bg-blue-700
}


/* _____Modal____ */

.showModal{
    @apply
    justify-center 
    items-center 
    flex 
    overflow-x-hidden
    overflow-y-hidden 
    fixed 
    inset-10 
    z-50 
}

.showModal_header{
    @apply
    p-3
    rounded-t 
    bg-blue-900
}

.showModal_content{
    @apply
    relative 
    mx-auto
    my-auto  
    max-w-3xl 
    h-full
}

.showModal_detail{
    @apply
    rounded-lg 
    relative 
    flex 
    flex-col 
    w-full 
    bg-slate-50 
}

/* _____card____ */

.card_area{
    @apply
    gap-3
    grid
    xl:grid-cols-4
    lg:grid-cols-2
    mx-auto
}

.card_detail{
    @apply
    mx-5
    mt-2
    rounded-lg 
    bg-white 
    shadow-lg
    shadow-gray-900
    w-72
}

.card_text{
    @apply
    font-bold 
    text-lg
    mb-2
}